{% extends 'homepage.html' %}

{% block titulo %}
criar conta
{% endblock %}

{%block formulario%}
   <form method="post">
        {{ form.csrf_token }}

            {{ form.email.label() }}
            {{ form.email() }}
            
            {{ form.senha.label() }}
            {{ form.senha() }}

            {{ form.username.label() }}
            {{ form.username() }}

            {{ form.confirmacao_senha.label() }}
            {{ form.confirmacao_senha() }}            


            {{ form.botao_confirmacao() }}
    
    
        </form>
{% endblock %}